.page {
  font-family: "Montserrat", sans-serif;
  color: #515076;
  max-width: 1440px;
}

.title {
  font-size: 70px;
  text-align: center;
}

.background{
  position: absolute;
  z-index: -100;
  width: 790px;
  height: 697px;
  top: -0px;
  left: 85px;
}

.product-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.style-card {
  background-color: #5150761A;
  width: 340px;
  padding: 25px;
  margin: 45px;
}

.img-form {
  display: block;
  width: 290px;
  padding: 25px;
}

.product-category {
  color: #A5A3B9;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.product-name {
  font-size: 20px;
  line-height: 27px;
}

.compound-label {
  display: block;
  line-height: 18px;
  font-size: 13px;
  margin-bottom: 5px;
}

.description {
  display: block;
  line-height: 18px;
  font-size: 13px;
  margin-bottom: 15px;
 }

.compound {
  display: block;
  line-height: 18px;
  font-size: 13px;
  margin-bottom: 25px;
  list-style-position: inside;
  padding: 0;
}

.properties li {
  margin-bottom: 5px;
}

.price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-label {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  display: inline-block;
}

.price {
  font-size: 20px;
  line-height: 24px;
  display: inline-block;
}

.color-toggle-button {
  background-color: aquamarine;
  color: rgb(54, 7, 48);
}